.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100% 3em;
    background-color: gainsboro;
    height: 30em;
    
}
.titulo{
    display: flex;
    justify-content:space-around;
    background-color: darkcyan;
    color: aliceblue;
    flex-basis: 100% 3em;
    
    font-size: larger;
    padding: 10px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    justify-content:center;
    padding: 40px;
    background-color: rgb(75, 66, 235);
}
button{
    width: 7em;
    height: 5em;
    background-color: goldenrod;
    color: aliceblue;
}
label{
    color: aliceblue;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: darkgoldenrod;
    color: aliceblue;
}
.lbl{
    color: white;
}
@media(max-width:555px){
    .flex-container{
        flex-basis: 100%;
    }
    .titulo{
        flex-basis: 100%;
        width: 520px;
    }
    .contenedor{
        flex-basis: 100%;
        
    }
    footer{
        flex-basis: 100%;
        width: 520px;
    }

}